<h1></h1>




<%= flash[:notice] %>

<div class="contact-banner">
  <h1>Contact Us</h1>
</div>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row contact-form">
  <div class="form-group col-sm">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  <div class="form-group col-sm">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group col-sm">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
</div>

<%= form.submit "Send", class: "form_label contact-submit" %>
<div class="home-submit-div">
  <%= link_to "Home", root_path, class: "home-submit" %>
</div>
<% end %>
