<h2 class="simple-page-title">Featured Product</h2>

<%= render "secondary_nav" %>

<div class='row'>
  <div class="col-6 featured-product">
    <%= image_tag(@products[1].image_url) %>
  </div>
  <div class="col-6 featured-product">
    <%= image_tag(@products[0].image_url) %>
  </div>
</div>

<div class="row">
  <div class="col-4 featured-product">
    <%= image_tag(@products[2].image_url) %>
  </div>
  <div class="col-4 featured-product">
    <%= image_tag(@products[4].image_url) %>
  </div>
  <div class="col-4 featured-product">
    <%= image_tag(@products[3].image_url) %>
  </div>
</div>
