<h2>Featured Product:</h2>

<div class='row'>
  <div class="col-md-7 featured-product">
    <%= image_tag(@products[1].image_url) %>
  </div>
  <div class="col-md-5 featured-product">
    <%= image_tag(@products[0].image_url) %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 featured-product">
    <%= image_tag(@products[2].image_url) %>
  </div>
  <div class="col-md-4 featured-product">
    <%= image_tag(@products[4].image_url) %>
  </div>
  <div class="col-md-4 featured-product">
    <%= image_tag(@products[3].image_url) %>
  </div>
</div>
