<p id="notice"><%= notice %></p>

<% cache @product do %>

  <div class="row">

    <div class="col-sm-12 col-md-7 product-show-img">
    <%= image_tag(@product.image_url, width: "350", class: "img-zoom", data_zoom_image: @product.image_url) %>
    </div>

    <div class="col-sm-12 col-md-5 product-info">

      <div class="product-show-name">
          <%= @product.name %>
      </div>


      <div class="rated average-rating" data-score="<%=@product.average_rating %>">Out of <%= @product.comment_count %> </div>

      <div class="product-show-buy row">
        <div class="col-sm-6">
          <p>
            Condition:
            <strong><%= @product.condition %></strong>
          </p>
          <p>
            Price:
            <strong><%= @product.price %></strong>
          </p>
        </div>
        <span class="col-sm-6 payment-button">
          <%= form_with(url: '/payments/create') do |form| %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        </span>

      </div>

      <p>
        <u>Description:</u>
        <%= @product.description %>
      </p>


      <p>
        <u>Dimension:</u>
        <%= @product.dimension %>
      </p>


    </div>
  </div>

<% end %>


<%= render 'new_comment' %>

<div class="alert alert-info" style="disply:none" role="alert">A new comment was posted!</div>

<%= render 'comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
